
/* Universal selectors ---------------------- */
* {
  box-sizing: border-box;
}

/* Main selectors ---------------------- */

body {
  /* background-color: green; */
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  background-color: green;
  text-transform: uppercase;
  /* margin: 15px 20px; */
  padding: auto%;
  border: 5px solid purple;
  border-top: 5px solid black;
}

h1 {
  color: black;
  border: 2px solid purple;
  max-width: 250px;
  display: inline-block;
}

h3 {
  border: 2px solid lightblue;
  max-width: 250px;
  display: inline-block;
}

p {
  color: white;
  border: 2px solid purple;
}

br {
  white;
}

li {
  list-style-type: none; /* this takes the dots off of the nav links */
  display: inline;
  padding: 5px;
  border-right: solid 1px;
}

aside {
  background-color: green;
  margin: 10px;
  border: 5px solid purple;
  max-width: 550px;
  float: right;
}

footer {
  background-color: green;
  margin: 10px;
  padding: 10px;
  border: 5px solid purple;
  max-width: 250px;
}

/* Class selectors ---------------------- */

.title {
  border: 1px solid purple;
}

.leaves {
  width: 500px;
  height: auto;
  margin: auto;
}

.main-header {
  color: white;
  background-color: green;
  margin: 10px;
  border-top: 5px solid purple;
}

.nav-bar {
  color: white;
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
  border-right: 5px solid purple;
  display: inline-block;
}

.main-form {
  background-color: green;
  margin: 10px;
  padding: 10px;
  border: 5px solid purple;
  display: flex;
}

.main-article {
  background-color: green;
  margin: 10px;
  padding: 10px;
  border: 5px solid purple;
  display: inline-block;
}

.first-article {
  background-color: green;
  margin: 25px;
  padding: 10px;
  border: 5px solid white;
  max-width: 50%px;

}

.second-article {
  background-color: green;
  margin: 25px;
  padding: 10px;
  border: 5px solid white;
  max-width: 50%px;

}

.third-article {
  background-color: green;
  margin: 25px;
  padding: 10px;
  border: 5px solid white;
}

.fourth-article {
  background-color: green;
  margin: 25px;
  padding: 10px;
  border: 5px solid white;
}

.one-two-article {
  background-color: green;
  margin: 25px;
  padding: 10px;
  border: 5px solid red;

}

.three-four-article {
  background-color: green;
  margin: 25px;
  padding: 10px;
  border: 5px solid red;

}


/* Pseudo selectors ---------------------- */

a:link {
    color: white;
}

a:hover {
  border: 1px solid blue;
}
